Stock Purchase Simulation/VSClient/VSClient/Connected Services/StockExchange/PurchaseShares1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://shares.me.org/" targetNamespace="http://shares.me.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="addStock" type="tns:addStock" />
  <xs:element name="addStockResponse" type="tns:addStockResponse" />
  <xs:element name="addUser" type="tns:addUser" />
  <xs:element name="addUserResponse" type="tns:addUserResponse" />
  <xs:element name="buyShares" type="tns:buyShares" />
  <xs:element name="buySharesResponse" type="tns:buySharesResponse" />
  <xs:element name="getCurrencyNames" type="tns:getCurrencyNames" />
  <xs:element name="getCurrencyNamesResponse" type="tns:getCurrencyNamesResponse" />
  <xs:element name="getFname" type="tns:getFname" />
  <xs:element name="getFnameResponse" type="tns:getFnameResponse" />
  <xs:element name="getShares" type="tns:getShares" />
  <xs:element name="getSharesResponse" type="tns:getSharesResponse" />
  <xs:element name="userLogin" type="tns:userLogin" />
  <xs:element name="userLoginResponse" type="tns:userLoginResponse" />
  <xs:complexType name="addStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="symbol" type="xs:string" />
      <xs:element name="volume" type="xs:int" />
      <xs:element name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buyShares">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyName" type="xs:string" />
      <xs:element name="sharesWanted" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buySharesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getShares">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSharesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFname">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFnameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCurrencyNames">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCurrencyNamesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>