Stock Purchase Simulation/WebServices JSPClient/web/WEB-INF/wsdl/localhost_8080/PurchaseShares/PurchaseShares.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/Shows">

<xs:complexType name="companyShare">
<xs:sequence>
<xs:element name="companyName" type="xs:string"/>
<xs:element name="companySymbol" type="xs:string"/>
<xs:element name="numOfAvailShares" type="xs:int"/>
<xs:element name="sharePrice">
<xs:complexType>
<xs:sequence>
<xs:element name="currency" type="xs:string"/>
<xs:element name="value" type="xs:double"/>
<xs:element name="dateOfLastUpdate" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>