Stock Purchase Simulation/WebServices JSPClient/web/WEB-INF/wsdl/localhost_8080/PurchaseShares/PurchaseShares.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shares.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shares.me.org/" name="PurchaseShares">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Shows" schemaLocation="http://localhost:8080/PurchaseShares/PurchaseShares?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://shares.me.org/" schemaLocation="http://localhost:8080/PurchaseShares/PurchaseShares?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://DOCwebServices/" schemaLocation="http://localhost:8080/PurchaseShares/PurchaseShares?xsd=3"/>
</xsd:schema>
</types>
<message name="getCurrencyNames">
<part name="parameters" element="tns:getCurrencyNames"/>
</message>
<message name="getCurrencyNamesResponse">
<part name="parameters" element="tns:getCurrencyNamesResponse"/>
</message>
<message name="userLogin">
<part name="parameters" element="tns:userLogin"/>
</message>
<message name="userLoginResponse">
<part name="parameters" element="tns:userLoginResponse"/>
</message>
<message name="getFname">
<part name="parameters" element="tns:getFname"/>
</message>
<message name="getFnameResponse">
<part name="parameters" element="tns:getFnameResponse"/>
</message>
<message name="addStock">
<part name="parameters" element="tns:addStock"/>
</message>
<message name="addStockResponse">
<part name="parameters" element="tns:addStockResponse"/>
</message>
<message name="getShares">
<part name="parameters" element="tns:getShares"/>
</message>
<message name="getSharesResponse">
<part name="parameters" element="tns:getSharesResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="IOException_Exception">
<part xmlns:ns1="http://DOCwebServices/" name="fault" element="ns1:IOException"/>
</message>
<message name="ParseException_Exception">
<part xmlns:ns2="http://DOCwebServices/" name="fault" element="ns2:ParseException"/>
</message>
<message name="buyShares">
<part name="parameters" element="tns:buyShares"/>
</message>
<message name="buySharesResponse">
<part name="parameters" element="tns:buySharesResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<portType name="PurchaseShares">
<operation name="getCurrencyNames">
<input wsam:Action="http://shares.me.org/PurchaseShares/getCurrencyNamesRequest" message="tns:getCurrencyNames"/>
<output wsam:Action="http://shares.me.org/PurchaseShares/getCurrencyNamesResponse" message="tns:getCurrencyNamesResponse"/>
</operation>
<operation name="userLogin">
<input wsam:Action="http://shares.me.org/PurchaseShares/userLoginRequest" message="tns:userLogin"/>
<output wsam:Action="http://shares.me.org/PurchaseShares/userLoginResponse" message="tns:userLoginResponse"/>
</operation>
<operation name="getFname">
<input wsam:Action="http://shares.me.org/PurchaseShares/getFnameRequest" message="tns:getFname"/>
<output wsam:Action="http://shares.me.org/PurchaseShares/getFnameResponse" message="tns:getFnameResponse"/>
</operation>
<operation name="addStock">
<input wsam:Action="http://shares.me.org/PurchaseShares/addStockRequest" message="tns:addStock"/>
<output wsam:Action="http://shares.me.org/PurchaseShares/addStockResponse" message="tns:addStockResponse"/>
</operation>
<operation name="getShares">
<input wsam:Action="http://shares.me.org/PurchaseShares/getSharesRequest" message="tns:getShares"/>
<output wsam:Action="http://shares.me.org/PurchaseShares/getSharesResponse" message="tns:getSharesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://shares.me.org/PurchaseShares/getShares/Fault/IOException"/>
<fault message="tns:IOException_Exception" name="IOException_Exception" wsam:Action="http://shares.me.org/PurchaseShares/getShares/Fault/IOException_Exception"/>
<fault message="tns:ParseException_Exception" name="ParseException_Exception" wsam:Action="http://shares.me.org/PurchaseShares/getShares/Fault/ParseException_Exception"/>
</operation>
<operation name="buyShares">
<input wsam:Action="http://shares.me.org/PurchaseShares/buySharesRequest" message="tns:buyShares"/>
<output wsam:Action="http://shares.me.org/PurchaseShares/buySharesResponse" message="tns:buySharesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://shares.me.org/PurchaseShares/buyShares/Fault/IOException"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://shares.me.org/PurchaseShares/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://shares.me.org/PurchaseShares/addUserResponse" message="tns:addUserResponse"/>
</operation>
</portType>
<binding name="PurchaseSharesPortBinding" type="tns:PurchaseShares">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCurrencyNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="IOException_Exception">
<soap:fault name="IOException_Exception" use="literal"/>
</fault>
<fault name="ParseException_Exception">
<soap:fault name="ParseException_Exception" use="literal"/>
</fault>
</operation>
<operation name="buyShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PurchaseShares">
<port name="PurchaseSharesPort" binding="tns:PurchaseSharesPortBinding">
<soap:address location="http://localhost:8080/PurchaseShares/PurchaseShares"/>
</port>
</service>
</definitions>