Stock Purchase Simulation/VSClient/VSClient/Connected Services/StockMarketWebService/PurchaseShares1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://xml.netbeans.org/schema/Shows" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="companyShare">
    <xs:sequence>
      <xs:element name="companyName" type="xs:string" />
      <xs:element name="companySymbol" type="xs:string" />
      <xs:element name="numOfAvailShares" type="xs:int" />
      <xs:element name="sharePrice">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="currency" type="xs:string" />
            <xs:element name="value" type="xs:double" />
            <xs:element name="dateOfLastUpdate" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>