Stock Purchase Simulation/VSClient/VSClient/Connected Services/WebService/PurchaseShares.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://DOCwebServices/" targetNamespace="http://DOCwebServices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" nillable="true" type="tns:IOException" />
  <xs:element name="ParseException" nillable="true" type="tns:ParseException" />
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorType" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element name="position" type="xs:int" />
      <xs:element minOccurs="0" name="unexpectedObject" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>